/* GENERAL STYLE */
*{
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* SPECIFIC */

.banner{
    height: 150px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    position: relative;
}

.title{
    margin-top: 20px;
}

.text-banner{
    position: absolute;
    bottom: 0;
    left: 25px;
    max-width: 150px;
}

address{
    font-style: normal;
    color: gray;
}

.blue-author{
    color: #4EA0FF;
}

.small-txt{
    font-size: .8rem;
}

.images div{
    display: inline-block;
    margin-bottom: 10px;
}

.highlight{
    background-color: yellow;
}

.items{
    margin: 20px 0px;
}

table{
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th{
    width: 33.333%;
    background-color: #1FA9E5;
    text-align: left;
    color: white;
}

.blue-back{
    background-color: #B1E5F2;
}